<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Punctuality</title>
        <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.23.1.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/datetimepicker.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script src="js/moment.min.js"></script>
        <script src="js/bootstrap-datetimepicker.js"></script>
        <script src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/json-parser.js"></script>
        <script type="text/javascript" src="js/date-picker-setup.js"></script>
        
    </head>
    <body>
        <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input id="date1" type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input id="date2" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Day</th>
                <th>Rostered Start</th>
                <th>Actual Start</th>
                <th>Rostered finish</th>
                <th>Actual finish</th>
              </tr>
            </thead>
            <tbody id="id01">
            </tbody>
        </table>
    </div>
    <div id="qunit"></div>
      <div id="qunit-fixture"></div>
      <script src="https://code.jquery.com/qunit/qunit-1.23.1.js"></script>
      <script src="js/tests.js"></script>
        
        
    </body>
</html>
